{namespace m=SitePackage\SitePackage\ViewHelpers}
<f:layout name="Default"/>
<f:section name="Main">

	<f:if condition="{data.backend_layout} == 'pagets__Unterseite'">
		<f:variable name="subsite" value="subsite" />
	</f:if>

	<main role="main" class="{subsite}">
		<div class="main">
			<f:cObject typoscriptObjectPath="lib.content.render" data="{colPos: '4'}"/>
		</div>
	</main>
</f:section>
