{namespace m=SitePackage\SitePackage\ViewHelpers}
<f:if condition="{data.settings.roundCorners} == '1'">
	<f:variable name="round_corners" value="round-corners" />
</f:if>
<f:variable name="btn_class" value="btn-{m:button(field:data.options.linktext)}" />

<f:if condition="{data.options.style} == 'border-outine'">
	<f:then>
		<style>
			.{btn_class} {
				border: 2px solid {data.options.button_color};
				color: {data.options.font_color};
			}
			.{btn_class}:hover {
				border-color: {data.options.button_hover_color};
				color: {data.options.font_hover_color};
			}
		</style>
		<div class="button-wrapper">
			<f:link.typolink parameter="{data.settings.link}" class="btn {round_corners} {btn_class}">{data.options.linktext}</f:link.typolink>
		</div>
	</f:then>
	<f:else>
		<style>
			.{btn_class}  {
				background-color: {data.options.button_color};
				color: {data.options.font_color};
			}
			.{btn_class}:hover {
				background-color: {data.options.button_hover_color};
				color: {data.options.font_hover_color};
			}
		</style>
		<div class="button-wrapper">
			<f:link.typolink parameter="{data.settings.link}" class="btn {round_corners} {btn_class}">{data.options.linktext}</f:link.typolink>
		</div>
	</f:else>
</f:if>
