<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace m=SitePackage\SitePackage\ViewHelpers}
<div class="parallax" style="background-image: url({m:backgroundimage(field: data.backgroundimage)});">
    <div class="content">
        <div class="grid-row three_cols boxed">
            <div class="grid-col">
                <f:format.raw>{data.col1.content}</f:format.raw>
            </div>
            <div class="grid-col">
                <f:format.raw>{data.col2.content}</f:format.raw>
            </div>
            <div class="grid-col">
                <f:format.raw>{data.col3.content}</f:format.raw>
            </div>
        </div>
    </div>
</div>
</html>