<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace m=SitePackage\SitePackage\ViewHelpers}
<div class="parallax" style="background-image: url({m:backgroundimage(field: data.image)});">
	<f:if condition="{data.title}">
		<div class="content" style="color: {data.title_color};">
			<h1><f:format.raw>{data.title}</f:format.raw></h1>
			<h2 class="uppercase-font text-center">{data.subtitle}</h2>
			<f:format.raw>
				{data.content}
			</f:format.raw>
			<f:if condition="{data.settings.roundCorners} == '1'">
				<f:variable name="round_corners" value="round-corners" />
			</f:if>
			<f:if condition="{data.options.style} == 'border-outine'">
				<f:then>
					<style>
						.btn {
						border: 2px solid {data.options.button_color};
						color: {data.options.font_color};
						}
						.btn:hover {
						border-color: {data.options.button_hover_color};
						color: {data.options.font_hover_color};
						}
					</style>
					<f:link.typolink parameter="{data.settings.link}" class="btn {round_corners}">{data.linktext}</f:link.typolink>
				</f:then>
				<f:else>
					<style>
						.btn {
						background-color: {data.options.button_color};
						color: {data.options.font_color};
						}
						.btn:hover {
						background-color: {data.options.button_hover_color};
						color: {data.options.font_hover_color};
						}
					</style>
					<f:link.typolink parameter="{data.settings.link}" class="btn {round_corners}">{data.linktext}</f:link.typolink>

				</f:else>
			</f:if>
		</div>
	</f:if>
</div>
</html>