{namespace m=SitePackage\SitePackage\ViewHelpers}
{m:template()}

<f:if condition="{data.backend_layout} == 'pagets__Unterseite'">
	<f:variable name="subsite" value="subsite-menu" />
</f:if>
<f:variable name="headerInfo" value="{m:header()}"/>
	<header id="header" class="boxed">
		<div class="container">
			<div class="logo">
				<f:link.page pageUid="1">
					<img src="{headerInfo.logo}" alt="">
				</f:link.page>
				<div id="rwd-toggle"><img src="/typo3conf/ext/site_package/Resources/Public/Icons/menutaste.png" alt=""></div>
			</div>
			<div class="header-nav text-right">
				<ul class="main-menu">
					<f:for each="{mainnavigation}" as="mainnavigationItem">
						<f:variable name="currentNavPunk" value="{m:menu(field: mainnavigationItem.link)}"/>
						<f:if condition="{mainnavigationItem.active} == 1">
							<f:then>
								<f:variable name="active" value="active"/>
							</f:then>
							<f:else>
								<f:variable name="active" value=""/>
							</f:else>
						</f:if>
						<li class="{active} {subsite}">
							<f:if condition="{mainnavigationItem.spacer} == 1">
								<f:then>
									<a
											href="http://{currentNavPunk.link.front}/{currentNavPunk.link.hash}"
											target="{mainnavigationItem.target}"
											title="{mainnavigationItem.title}"
											class="hash-menu-item"
									>
										{mainnavigationItem.title}
									</a>
								</f:then>
								<f:else>
									<a
											href="http://{currentNavPunk.link.front}/{currentNavPunk.link.hash}"
											target="{mainnavigationItem.target}"
											title="{mainnavigationItem.title}">
										{mainnavigationItem.title}
									</a>
								</f:else>
							</f:if>
						</li>
					</f:for>
				</ul>
			</div>
		</div>
	</header>
<f:render section="Main"/>
<f:render partial="Footer" arguments="{_all}"/>


