#footer {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
  a {
    color: #fff;
  }
  img {
    object-fit: contain;
  }
}

.footerbalken {
  line-height: 50px;
  ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    > li {
      display: inline-block;
      margin-right: 30px;
    }
  }
  a {
    line-height: 50px;
    text-decoration: none;
  }
  display: flex;
  .grid-col-8 {
    max-width: 75%;
    flex: 0 0 75%;
  }
  .grid-col-4 {
    max-width: 25%;
    flex: 0 0 25%;
    text-align: right;
    margin-right: 20px;
    > a {
      &:last-child {
        margin-right: 30px;
      }
    }
    a {
      display: inline-block;
      position: relative;
      max-width: 30px;
      width: 100%;
      height: 100%;
      img {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }
}