.main-menu {
  padding-left: 0;
  > li {
    display: inline-block;
    margin: 0 .4em;
    padding: .618em 0;
    a {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: .1em;
      color: #000;
      font-style: normal;
      transition: color .2s;
    }
    &:hover {
      a {
        transition: color .2s;
        color: rgba(0,0,0,.4);
      }
    }
  }
}

#header {
  width: 100%;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    .logo {
      img {
        object-fit: contain;
      }
    }
  }
}