@media screen and (min-width: 320px) and (max-width: 768px) {

  html {
    //overflow-x: hidden;
    scroll-behavior: smooth;

    body {
      width: 100%;
      //overflow-x: hidden;
      &.is-subsite {
        padding-left: 0;
        overflow-x: hidden;
      }
      #section-nav {
        display: none;
      }
      .grid-row.boxed {
        max-width: 100%;
      }
      .footer-menu {
        padding-left: 15px;
      }
    }
  }


  #header {
    .container {
      display: block;
      .logo {
        margin-left: 20px;
        position: relative;
      }
      #rwd-toggle {
        display: block;
        position: absolute;
        right: -70px;
        top: 0;
      }
    }
  }

  .header-nav {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    ul {
      text-align: left;
      background-color: #fff;
      visibility: hidden;
      opacity: 0;
      transition: all .2s;
      display: none;
      &.show-menu {
        visibility: visible;
        opacity: 1;
        transition: all .2s;
        display: block;
      }
      > li {
        display: block;
        padding-left: 0;
        &:not(:last-child) {
          border-bottom: 1px solid #000;
        }
      }
    }
  }

  #section-161 {
    padding-bottom: 30px;
  }

  .section, .full_height.section {
    height: auto;
  }
  html body .section.full-height {
    height: auto;
  }

  .section .section_content {
    position: relative;
    top: initial;
    left: initial;
    transform: initial;
  }

  .grid-row.boxed {
    max-width: 100%;
  }

  .five_cols {
    gap: initial;
  }

  .section h1, .parallax .content h1 {
    font-size: 52px;
  }

  .section_content h2 {
    font-size: 20px;
  }



  .section {
    img.TEST {
      width: 100%;
      height: auto;
    }
  }

 html {
   body {
     main.subsite {
       .main {
         > div {
           //padding-left: 12px;
           padding-right: 12px;
           &:first-child {
             //height: 100vh;
             //display: flex;
             //justify-content: center;
             //align-items: center;
           }
         }
       }
     }
     .footerbalken .grid-col-4 {
       max-width: 100%;
       flex: 0 0 100%;
       text-align: left;
       padding-left: 12px;
       &.text-right {
         text-align: left;
       }
     }
   }
 }

}