@import "variables";
@import "parallax";
@import "navigation";
@import "footer";


html body {
  margin: 0;
  position: relative;
  height: 100vh;
}

#header {
  z-index: 20;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: transparent;
  .logo {
    max-width: 267px;
    width: 100%;
    img {
      width: 100%;
    }
  }
  ul {
    margin-top: 0;
  }
}

.section {
  h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 82px;
    letter-spacing: .015em;
    line-height: 1em;
    text-transform: uppercase;
  }
  background-size: cover;
  background-repeat: no-repeat;
  .parallax {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.slider-bereich {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  .frame-type-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  figure.image {
    margin: 0;
  }
}

.frame-type-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.grid-row.images_full_size .ce-image, .grid-row.images_full_size .ce-gallery, .grid-row.images_full_size .ce-outer, .grid-row.images_full_size .ce-inner, .grid-row.images_full_size .ce-row, .grid-row.images_full_size .ce-column, .grid-row.images_full_size .image, .grid-row.images_full_size img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
figure.image {
  margin: 0;
}

img {
  //width: 100%;height: auto;
}


.btn {
  padding: 10px 20px 10px 20px;
  transition: all .2s;
  text-decoration: none;
  margin-bottom: 50px;
  &.round-corners {
    border-radius: 25px
  }
  &:hover {
    transition: all .2s;
  }
}

.center_alignment {
  text-align: center;
}

.section {
  position: relative;
  height: 70vh; 
  &.content-middle {
    .section_content {
      height: 70vh;
    }
  }
  &.full_height {
    &.content-middle {
      .section_content {
        height: 100vh;
      }
    }
    height: 100vh;
  }


  &.has-parallax {
    height: 100vh;

    .section_content {
      height: 100%;
    }
  }
}

//.five_cols {
//  display: flex;
//  .grid-col {
//    flex: 20%;
//  }
//}

.five_cols .grid-col {
  h3 {
    text-align: left;
  }
  p {
    text-align: left;
  }
}

.parallax {
  height: 100%;
  position: relative;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    h1 {
      margin-top: 0;
      font-size: 82px;
      font-weight: 700;
      letter-spacing: .015em;
      line-height: 1em;
    }
    h2 {
      font-size: 24px;
      letter-spacing: .01em;
      line-height: 1.2em;
    }
  }
}
#section-nav {
  position: fixed;
  right: 10px;
  top: 50%;
}
#section-nav .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: block;
  transition: all .2s;
  &.dot-active {
    //background-color: #fff;
    transition: all .2s;
  }
  &:hover {
    opacity: 0.8;
    transition: all .2s;
  }
}

form {
  input[type=text], input[type=email], textarea {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: transparent;
    border-bottom: 1px solid #fff;
  }
  textarea {
    height: 200px;
  }
  .btn {
    background-color: transparent;
    color: #fff;
    border-radius: 0;
    border: 1px solid #fff;
    &:hover {
      background-color: #fff;
      color: #000;
      cursor: pointer;
    }
  }
}

.heading_h2 {
  font-size: 40px;
  font-weight: 700;
}

.heading_h3 {
  font-size: 16px;
}

#jarallax-container-0 {
  clip: initial !important;
  -webkit-clip-path:  none !important;  
  clip-path: none !important;
}

.heading_h1 {
  font-size: 58px;
}
main.subsite {
}

body {
  &.is-subsite {
    #header {
      position: relative;
      top: initial;
      left: initial;
      margin-top: 40px;
    }
  }
  form {
    .actions {
      margin-top: 30px;
    }
  }
}