.text-right {
  text-align: right;
}

.section_content h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  letter-spacing: .01em;
  line-height: 1.2em;
  text-transform: none;
}

.section_content h2 {
  font-size: 40px;
}

.p-14 {
  font-size: 14px;
}
.p-15 {
  font-size: 15px;
}
.p-16 {
  font-size: 16px;
}
.p-18 {
  font-size: 18px;
}
.p-20 {
  font-size: 20px;
}
.p-22 {
  font-size: 22px;
}
.p-26 {
  font-size: 26px;
}
.p-35 {
  font-size: 35px;
}
.p-50 {
  font-size: 50px;
}

#rwd-toggle {
  width: 40px;
  height: 40px;
  display: none;
}