<f:variable name="footerInfo" value="{m:footer()}"/>

<f:if condition="{footerInfo.balken.anwesend} == 1">
	<f:then>
		<div class="grid-row footerbalken" style="background-color: {footerInfo.balken.backgroundcolor};">
			<div class="grid-col-8">
				<ul class="footer-menu">
					<f:for each="{footermenu}" as="mainnavigationItem">
						<li>
							<a class=""
							   style="color:{footerInfo.balken.fontcolor};"
							   href="{mainnavigationItem.link}"
							   target="{mainnavigationItem.target}"
							   title="{mainnavigationItem.title}">
								{mainnavigationItem.title}
							</a>
						</li>
					</f:for>
				</ul>
			</div>
			<div class="grid-col-4 text-right">
				<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '1', colPos: '5'}"/>
			</div>
		</div>
		<footer id="footer">
			<f:variable name="headerInfo" value="{m:header()}"/>
			<f:variable name="socialInfo" value="{m:social()}"/>
			<div class="grid-row three_cols boxed">
				<div>
					{footerInfo.company_street}, {footerInfo.company_place} <br>
					Tel.: <a href="{headerInfo.tel}">{headerInfo.tel}</a>
				</div>
				<div>
					<f:link.page pageUid="1">
						<img src="{footerInfo.logo}" alt="">
					</f:link.page>
				</div>
				<div class="text-right">
					&copy; by
				</div>
			</div>
		</footer>
	</f:then>
	<f:else>
		<footer id="footer">
			<f:variable name="headerInfo" value="{m:header()}"/>
			<f:variable name="socialInfo" value="{m:social()}"/>

			<div class="grid-row three_cols boxed">
				<div>
					{footerInfo.company_street}, {footerInfo.company_place} <br>
					Tel.: <a href="{headerInfo.tel}">{headerInfo.tel}</a>
				</div>
				<div>
					<f:link.page pageUid="1">
						<img src="{footerInfo.logo}" alt="">
					</f:link.page>
				</div>
				<div class="text-right">
					<ul class="footer-menu">
						<f:for each="{footermenu}" as="mainnavigationItem">
							<li>
								<a class=""
								   href="{mainnavigationItem.link}"
								   target="{mainnavigationItem.target}"
								   title="{mainnavigationItem.title}">
									{mainnavigationItem.title}
								</a>
							</li>
						</f:for>
					</ul>
					<f:cObject typoscriptObjectPath="lib.content.render" data="{colPos: '5'}"/>
					TEST2
					&copy; by
				</div>
			</div>
		</footer>
	</f:else>
</f:if>
