.text-right {
  text-align: right;
}
.section_content h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 0.01em;
  line-height: 1.2em;
  text-transform: none;
}
.section_content h2 {
  font-size: 40px;
}
.p-14 {
  font-size: 14px;
}
.p-15 {
  font-size: 15px;
}
.p-16 {
  font-size: 16px;
}
.p-18 {
  font-size: 18px;
}
.p-20 {
  font-size: 20px;
}
.p-22 {
  font-size: 22px;
}
.p-26 {
  font-size: 26px;
}
.p-35 {
  font-size: 35px;
}
.p-50 {
  font-size: 50px;
}
#rwd-toggle {
  width: 40px;
  height: 40px;
  display: none;
}
.main-menu {
  padding-left: 0;
}
.main-menu > li {
  display: inline-block;
  margin: 0 0.4em;
  padding: 0.618em 0;
}
.main-menu > li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #000;
  font-style: normal;
  transition: color 0.2s;
}
.main-menu > li:hover a {
  transition: color 0.2s;
  color: rgba(0, 0, 0, 0.4);
}
#header {
  width: 100%;
}
#header .container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr;
}
#header .container .logo img {
  object-fit: contain;
}
#footer {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
}
#footer a {
  color: #fff;
}
#footer img {
  object-fit: contain;
}
.footerbalken {
  line-height: 50px;
  display: flex;
}
.footerbalken ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}
.footerbalken ul > li {
  display: inline-block;
  margin-right: 30px;
}
.footerbalken a {
  line-height: 50px;
  text-decoration: none;
}
.footerbalken .grid-col-8 {
  max-width: 75%;
  flex: 0 0 75%;
}
.footerbalken .grid-col-4 {
  max-width: 25%;
  flex: 0 0 25%;
  text-align: right;
  margin-right: 20px;
}
.footerbalken .grid-col-4 > a:last-child {
  margin-right: 30px;
}
.footerbalken .grid-col-4 a {
  display: inline-block;
  position: relative;
  max-width: 30px;
  width: 100%;
  height: 100%;
}
.footerbalken .grid-col-4 a img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
html body {
  margin: 0;
  position: relative;
  height: 100vh;
}
#header {
  z-index: 20;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: transparent;
}
#header .logo {
  max-width: 267px;
  width: 100%;
}
#header .logo img {
  width: 100%;
}
#header ul {
  margin-top: 0;
}
.section {
  background-size: cover;
  background-repeat: no-repeat;
}
.section h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 82px;
  letter-spacing: 0.015em;
  line-height: 1em;
  text-transform: uppercase;
}
.section .parallax {
  background-size: cover;
  background-repeat: no-repeat;
}
.slider-bereich {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.slider-bereich .frame-type-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider-bereich figure.image {
  margin: 0;
}
.frame-type-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.grid-row.images_full_size .ce-image,
.grid-row.images_full_size .ce-gallery,
.grid-row.images_full_size .ce-outer,
.grid-row.images_full_size .ce-inner,
.grid-row.images_full_size .ce-row,
.grid-row.images_full_size .ce-column,
.grid-row.images_full_size .image,
.grid-row.images_full_size img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
figure.image {
  margin: 0;
}
.btn {
  padding: 10px 20px 10px 20px;
  transition: all 0.2s;
  text-decoration: none;
  margin-bottom: 50px;
}
.btn.round-corners {
  border-radius: 25px;
}
.btn:hover {
  transition: all 0.2s;
}
.center_alignment {
  text-align: center;
}
.section {
  position: relative;
  height: 70vh;
}
.section.content-middle .section_content {
  height: 70vh;
}
.section.full_height {
  height: 100vh;
}
.section.full_height.content-middle .section_content {
  height: 100vh;
}
.section.has-parallax {
  height: 100vh;
}
.section.has-parallax .section_content {
  height: 100%;
}
.five_cols .grid-col h3 {
  text-align: left;
}
.five_cols .grid-col p {
  text-align: left;
}
.parallax {
  height: 100%;
  position: relative;
}
.parallax .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.parallax .content h1 {
  margin-top: 0;
  font-size: 82px;
  font-weight: 700;
  letter-spacing: 0.015em;
  line-height: 1em;
}
.parallax .content h2 {
  font-size: 24px;
  letter-spacing: 0.01em;
  line-height: 1.2em;
}
#section-nav {
  position: fixed;
  right: 10px;
  top: 50%;
}
#section-nav .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: block;
  transition: all 0.2s;
}
#section-nav .dot.dot-active {
  transition: all 0.2s;
}
#section-nav .dot:hover {
  opacity: 0.8;
  transition: all 0.2s;
}
form input[type=text],
form input[type=email],
form textarea {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background-color: transparent;
  border-bottom: 1px solid #fff;
}
form textarea {
  height: 200px;
}
form .btn {
  background-color: transparent;
  color: #fff;
  border-radius: 0;
  border: 1px solid #fff;
}
form .btn:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.heading_h2 {
  font-size: 40px;
  font-weight: 700;
}
.heading_h3 {
  font-size: 16px;
}
#jarallax-container-0 {
  clip: initial !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
}
.heading_h1 {
  font-size: 58px;
}
body.is-subsite #header {
  position: relative;
  top: initial;
  left: initial;
  margin-top: 40px;
}
body form .actions {
  margin-top: 30px;
}
